#textdomain wesnoth-AI_Arena

[textdomain]
    name="wesnoth-AI_Arena"
[/textdomain]

#ifdef MULTIPLAYER
[binary_path]
    path="data/add-ons/AI_Arena"
[/binary_path]

{~add-ons/AI_Arena/scenarios}
#endif